# Ripgrep configuration file
# See https://github.com/BurntSushi/ripgrep/blob/master/GUIDE.md#configuration-file
# Set RIPGREP_CONFIG_PATH to this file (I put it at ~/.config/rg.config) in your shell

# Add MLIR file type
--type-add
mlir:*.mlir*

# Add TableGen file type
--type-add
td:*.td*

# Add Mojo file type
--type-add
mojo:*.mojo*
